.train-info {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .train-info th {
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .train-info td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .train-data {
    display: flex;
    flex-direction: column;
  }
  
  .train-data div {
    display: flex;
    justify-content: space-between;
  }
  
  .train-data .label {
    font-weight: bold;
    margin-right: 5px;
  }